
.appContainer {
	background-color: var(--secondary-color);
	color: var(--main-text-color);
	margin: 0 auto;
	padding: 20px;
}
.header {
	background-color: var(--primary-color);
	color: var(--text-header-color);
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	padding: 5px;
}
